<h1>Listing session_infos</h1>

<table>
  <tr>
    <th>Uid</th>
    <th>Account info</th>
    <th>Status</th>
    <th>Created by</th>
    <th>Updated by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @session_infos.each do |session_info| %>
  <tr>
    <td><%= session_info.uid %></td>
    <td><%= session_info.account_info_id %></td>
    <td><%= session_info.status %></td>
    <td><%= session_info.created_by %></td>
    <td><%= session_info.updated_by %></td>
    <td><%= link_to 'Show', session_info %></td>
    <td><%= link_to 'Edit', edit_session_info_path(session_info) %></td>
    <td><%= link_to 'Destroy', session_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Session info', new_session_info_path %>
